=begin
#EdiFabric API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.4

=end

require 'uri'

module SwaggerClient
  class TranslateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param edi_file EDI file to translate
    # @param [Hash] opts the optional parameters
    # @option opts [String] :read_mode  (default to read_small)
    # @option opts [BOOLEAN] :validate  (default to false)
    # @option opts [String] :accept  (default to application/json)
    # @option opts [String] :char_set  (default to utf-8)
    # @option opts [BOOLEAN] :continue_on_error  (default to true)
    # @option opts [BOOLEAN] :transaction_only  (default to false)
    # @option opts [String] :data_element_separator  (default to +)
    # @option opts [String] :component_data_element_separator  (default to :)
    # @option opts [String] :segment_separator  (default to ')
    # @option opts [String] :repetition_separator  (default to *)
    # @option opts [String] :escape_character  (default to ?)
    # @option opts [String] :decimal_point  (default to .)
    # @option opts [String] :eancom_syntax 
    # @option opts [BOOLEAN] :skip_trailer_validation  (default to false)
    # @option opts [String] :syntax_set 
    # @return [Array<EdiFabricWebApiModelsEdifactInterchange>]
    def translate_edifact(edi_file, opts = {})
      data, _status_code, _headers = translate_edifact_with_http_info(edi_file, opts)
      data
    end

    # @param edi_file EDI file to translate
    # @param [Hash] opts the optional parameters
    # @option opts [String] :read_mode 
    # @option opts [BOOLEAN] :validate 
    # @option opts [String] :accept 
    # @option opts [String] :char_set 
    # @option opts [BOOLEAN] :continue_on_error 
    # @option opts [BOOLEAN] :transaction_only 
    # @option opts [String] :data_element_separator 
    # @option opts [String] :component_data_element_separator 
    # @option opts [String] :segment_separator 
    # @option opts [String] :repetition_separator 
    # @option opts [String] :escape_character 
    # @option opts [String] :decimal_point 
    # @option opts [String] :eancom_syntax 
    # @option opts [BOOLEAN] :skip_trailer_validation 
    # @option opts [String] :syntax_set 
    # @return [Array<(Array<EdiFabricWebApiModelsEdifactInterchange>, Fixnum, Hash)>] Array<EdiFabricWebApiModelsEdifactInterchange> data, response status code and response headers
    def translate_edifact_with_http_info(edi_file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TranslateApi.translate_edifact ...'
      end
      # verify the required parameter 'edi_file' is set
      if @api_client.config.client_side_validation && edi_file.nil?
        fail ArgumentError, "Missing the required parameter 'edi_file' when calling TranslateApi.translate_edifact"
      end
      if @api_client.config.client_side_validation && opts[:'read_mode'] && !['read_small', 'read_large'].include?(opts[:'read_mode'])
        fail ArgumentError, 'invalid value for "read_mode", must be one of read_small, read_large'
      end
      if @api_client.config.client_side_validation && opts[:'accept'] && !['application/json', 'application/xml'].include?(opts[:'accept'])
        fail ArgumentError, 'invalid value for "accept", must be one of application/json, application/xml'
      end
      if @api_client.config.client_side_validation && opts[:'decimal_point'] && !['.', ','].include?(opts[:'decimal_point'])
        fail ArgumentError, 'invalid value for "decimal_point", must be one of ., ,'
      end
      if @api_client.config.client_side_validation && opts[:'eancom_syntax'] && !['4', '3', 'older'].include?(opts[:'eancom_syntax'])
        fail ArgumentError, 'invalid value for "eancom_syntax", must be one of 4, 3, older'
      end
      if @api_client.config.client_side_validation && opts[:'syntax_set'] && !['unoa', 'unob'].include?(opts[:'syntax_set'])
        fail ArgumentError, 'invalid value for "syntax_set", must be one of unoa, unob'
      end
      # resource path
      local_var_path = '/translate/edifact'

      # query parameters
      query_params = {}
      query_params[:'read_mode'] = opts[:'read_mode'] if !opts[:'read_mode'].nil?
      query_params[:'validate'] = opts[:'validate'] if !opts[:'validate'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'Accept'] = opts[:'accept'] if !opts[:'accept'].nil?

      # form parameters
      form_params = {}
      form_params['edi_file'] = edi_file
      form_params['char_set'] = opts[:'char_set'] if !opts[:'char_set'].nil?
      form_params['continue_on_error'] = opts[:'continue_on_error'] if !opts[:'continue_on_error'].nil?
      form_params['transaction_only'] = opts[:'transaction_only'] if !opts[:'transaction_only'].nil?
      form_params['data_element_separator'] = opts[:'data_element_separator'] if !opts[:'data_element_separator'].nil?
      form_params['component_data_element_separator'] = opts[:'component_data_element_separator'] if !opts[:'component_data_element_separator'].nil?
      form_params['segment_separator'] = opts[:'segment_separator'] if !opts[:'segment_separator'].nil?
      form_params['repetition_separator'] = opts[:'repetition_separator'] if !opts[:'repetition_separator'].nil?
      form_params['escape_character'] = opts[:'escape_character'] if !opts[:'escape_character'].nil?
      form_params['decimal_point'] = opts[:'decimal_point'] if !opts[:'decimal_point'].nil?
      form_params['eancom_syntax'] = opts[:'eancom_syntax'] if !opts[:'eancom_syntax'].nil?
      form_params['skip_trailer_validation'] = opts[:'skip_trailer_validation'] if !opts[:'skip_trailer_validation'].nil?
      form_params['syntax_set'] = opts[:'syntax_set'] if !opts[:'syntax_set'].nil?

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<EdiFabricWebApiModelsEdifactInterchange>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TranslateApi#translate_edifact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param edi_file EDI file to translate
    # @param [Hash] opts the optional parameters
    # @option opts [String] :read_mode  (default to read_small)
    # @option opts [BOOLEAN] :validate  (default to false)
    # @option opts [String] :accept  (default to application/json)
    # @option opts [String] :char_set  (default to utf-8)
    # @option opts [BOOLEAN] :continue_on_error  (default to true)
    # @option opts [BOOLEAN] :transaction_only  (default to false)
    # @option opts [String] :data_element_separator  (default to *)
    # @option opts [String] :component_data_element_separator  (default to >)
    # @option opts [String] :segment_separator  (default to ~)
    # @option opts [String] :repetition_separator  (default to ^)
    # @option opts [BOOLEAN] :skip_trailer_validation  (default to false)
    # @option opts [String] :syntax_set 
    # @return [Array<EdiFabricWebApiModelsX12Interchange>]
    def translate_x12(edi_file, opts = {})
      data, _status_code, _headers = translate_x12_with_http_info(edi_file, opts)
      data
    end

    # @param edi_file EDI file to translate
    # @param [Hash] opts the optional parameters
    # @option opts [String] :read_mode 
    # @option opts [BOOLEAN] :validate 
    # @option opts [String] :accept 
    # @option opts [String] :char_set 
    # @option opts [BOOLEAN] :continue_on_error 
    # @option opts [BOOLEAN] :transaction_only 
    # @option opts [String] :data_element_separator 
    # @option opts [String] :component_data_element_separator 
    # @option opts [String] :segment_separator 
    # @option opts [String] :repetition_separator 
    # @option opts [BOOLEAN] :skip_trailer_validation 
    # @option opts [String] :syntax_set 
    # @return [Array<(Array<EdiFabricWebApiModelsX12Interchange>, Fixnum, Hash)>] Array<EdiFabricWebApiModelsX12Interchange> data, response status code and response headers
    def translate_x12_with_http_info(edi_file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TranslateApi.translate_x12 ...'
      end
      # verify the required parameter 'edi_file' is set
      if @api_client.config.client_side_validation && edi_file.nil?
        fail ArgumentError, "Missing the required parameter 'edi_file' when calling TranslateApi.translate_x12"
      end
      if @api_client.config.client_side_validation && opts[:'read_mode'] && !['read_small', 'read_large'].include?(opts[:'read_mode'])
        fail ArgumentError, 'invalid value for "read_mode", must be one of read_small, read_large'
      end
      if @api_client.config.client_side_validation && opts[:'accept'] && !['application/json', 'application/xml'].include?(opts[:'accept'])
        fail ArgumentError, 'invalid value for "accept", must be one of application/json, application/xml'
      end
      if @api_client.config.client_side_validation && opts[:'syntax_set'] && !['basic', 'standard'].include?(opts[:'syntax_set'])
        fail ArgumentError, 'invalid value for "syntax_set", must be one of basic, standard'
      end
      # resource path
      local_var_path = '/translate/x12'

      # query parameters
      query_params = {}
      query_params[:'read_mode'] = opts[:'read_mode'] if !opts[:'read_mode'].nil?
      query_params[:'validate'] = opts[:'validate'] if !opts[:'validate'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'Accept'] = opts[:'accept'] if !opts[:'accept'].nil?

      # form parameters
      form_params = {}
      form_params['edi_file'] = edi_file
      form_params['char_set'] = opts[:'char_set'] if !opts[:'char_set'].nil?
      form_params['continue_on_error'] = opts[:'continue_on_error'] if !opts[:'continue_on_error'].nil?
      form_params['transaction_only'] = opts[:'transaction_only'] if !opts[:'transaction_only'].nil?
      form_params['data_element_separator'] = opts[:'data_element_separator'] if !opts[:'data_element_separator'].nil?
      form_params['component_data_element_separator'] = opts[:'component_data_element_separator'] if !opts[:'component_data_element_separator'].nil?
      form_params['segment_separator'] = opts[:'segment_separator'] if !opts[:'segment_separator'].nil?
      form_params['repetition_separator'] = opts[:'repetition_separator'] if !opts[:'repetition_separator'].nil?
      form_params['skip_trailer_validation'] = opts[:'skip_trailer_validation'] if !opts[:'skip_trailer_validation'].nil?
      form_params['syntax_set'] = opts[:'syntax_set'] if !opts[:'syntax_set'].nil?

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<EdiFabricWebApiModelsX12Interchange>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TranslateApi#translate_x12\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
