# coding: utf-8

"""
    EdiFabric API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AcknowledgeApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def acknowledge_edifact(self, edi_file, **kwargs):  # noqa: E501
        """acknowledge_edifact  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.acknowledge_edifact(edi_file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param file edi_file: EDI file to translate (required)
        :param str read_mode:
        :param str accept:
        :param str char_set:
        :param bool continue_on_error:
        :param bool skip_trailer_validation:
        :param str decimal_point:
        :param str syntax_set:
        :param bool transaction_duplicate:
        :param bool group_duplicate:
        :param str technical_ack:
        :param bool generate_for_valid_transactions:
        :param bool allow_partial:
        :param int transaction_control_number:
        :param str eancom_syntax:
        :param bool include_transactions:
        :return: list[EdiFabricWebApiModelsEdifactAcknowledgment]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.acknowledge_edifact_with_http_info(edi_file, **kwargs)  # noqa: E501
        else:
            (data) = self.acknowledge_edifact_with_http_info(edi_file, **kwargs)  # noqa: E501
            return data

    def acknowledge_edifact_with_http_info(self, edi_file, **kwargs):  # noqa: E501
        """acknowledge_edifact  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.acknowledge_edifact_with_http_info(edi_file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param file edi_file: EDI file to translate (required)
        :param str read_mode:
        :param str accept:
        :param str char_set:
        :param bool continue_on_error:
        :param bool skip_trailer_validation:
        :param str decimal_point:
        :param str syntax_set:
        :param bool transaction_duplicate:
        :param bool group_duplicate:
        :param str technical_ack:
        :param bool generate_for_valid_transactions:
        :param bool allow_partial:
        :param int transaction_control_number:
        :param str eancom_syntax:
        :param bool include_transactions:
        :return: list[EdiFabricWebApiModelsEdifactAcknowledgment]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['edi_file', 'read_mode', 'accept', 'char_set', 'continue_on_error', 'skip_trailer_validation', 'decimal_point', 'syntax_set', 'transaction_duplicate', 'group_duplicate', 'technical_ack', 'generate_for_valid_transactions', 'allow_partial', 'transaction_control_number', 'eancom_syntax', 'include_transactions']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method acknowledge_edifact" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'edi_file' is set
        if ('edi_file' not in params or
                params['edi_file'] is None):
            raise ValueError("Missing the required parameter `edi_file` when calling `acknowledge_edifact`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'read_mode' in params:
            query_params.append(('read_mode', params['read_mode']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501

        form_params = []
        local_var_files = {}
        if 'char_set' in params:
            form_params.append(('char_set', params['char_set']))  # noqa: E501
        if 'continue_on_error' in params:
            form_params.append(('continue_on_error', params['continue_on_error']))  # noqa: E501
        if 'skip_trailer_validation' in params:
            form_params.append(('skip_trailer_validation', params['skip_trailer_validation']))  # noqa: E501
        if 'decimal_point' in params:
            form_params.append(('decimal_point', params['decimal_point']))  # noqa: E501
        if 'syntax_set' in params:
            form_params.append(('syntax_set', params['syntax_set']))  # noqa: E501
        if 'transaction_duplicate' in params:
            form_params.append(('transaction_duplicate', params['transaction_duplicate']))  # noqa: E501
        if 'group_duplicate' in params:
            form_params.append(('group_duplicate', params['group_duplicate']))  # noqa: E501
        if 'technical_ack' in params:
            form_params.append(('technical_ack', params['technical_ack']))  # noqa: E501
        if 'generate_for_valid_transactions' in params:
            form_params.append(('generate_for_valid_transactions', params['generate_for_valid_transactions']))  # noqa: E501
        if 'allow_partial' in params:
            form_params.append(('allow_partial', params['allow_partial']))  # noqa: E501
        if 'transaction_control_number' in params:
            form_params.append(('transaction_control_number', params['transaction_control_number']))  # noqa: E501
        if 'eancom_syntax' in params:
            form_params.append(('eancom_syntax', params['eancom_syntax']))  # noqa: E501
        if 'include_transactions' in params:
            form_params.append(('include_transactions', params['include_transactions']))  # noqa: E501
        if 'edi_file' in params:
            local_var_files['edi_file'] = params['edi_file']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/acknowledge/edifact', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[EdiFabricWebApiModelsEdifactAcknowledgment]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def acknowledge_x12(self, edi_file, **kwargs):  # noqa: E501
        """acknowledge_x12  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.acknowledge_x12(edi_file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param file edi_file: EDI file to translate (required)
        :param str read_mode:
        :param str accept:
        :param str char_set:
        :param bool continue_on_error:
        :param bool skip_trailer_validation:
        :param str syntax_set:
        :param bool transaction_duplicate:
        :param bool group_duplicate:
        :param str technical_ack:
        :param bool generate_for_valid_transactions:
        :param bool allow_partial:
        :param int transaction_control_number:
        :param str ak901:
        :param str ack_version:
        :param bool include_transactions:
        :return: list[EdiFabricWebApiModelsX12Acknowledgment]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.acknowledge_x12_with_http_info(edi_file, **kwargs)  # noqa: E501
        else:
            (data) = self.acknowledge_x12_with_http_info(edi_file, **kwargs)  # noqa: E501
            return data

    def acknowledge_x12_with_http_info(self, edi_file, **kwargs):  # noqa: E501
        """acknowledge_x12  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.acknowledge_x12_with_http_info(edi_file, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param file edi_file: EDI file to translate (required)
        :param str read_mode:
        :param str accept:
        :param str char_set:
        :param bool continue_on_error:
        :param bool skip_trailer_validation:
        :param str syntax_set:
        :param bool transaction_duplicate:
        :param bool group_duplicate:
        :param str technical_ack:
        :param bool generate_for_valid_transactions:
        :param bool allow_partial:
        :param int transaction_control_number:
        :param str ak901:
        :param str ack_version:
        :param bool include_transactions:
        :return: list[EdiFabricWebApiModelsX12Acknowledgment]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['edi_file', 'read_mode', 'accept', 'char_set', 'continue_on_error', 'skip_trailer_validation', 'syntax_set', 'transaction_duplicate', 'group_duplicate', 'technical_ack', 'generate_for_valid_transactions', 'allow_partial', 'transaction_control_number', 'ak901', 'ack_version', 'include_transactions']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method acknowledge_x12" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'edi_file' is set
        if ('edi_file' not in params or
                params['edi_file'] is None):
            raise ValueError("Missing the required parameter `edi_file` when calling `acknowledge_x12`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'read_mode' in params:
            query_params.append(('read_mode', params['read_mode']))  # noqa: E501

        header_params = {}
        if 'accept' in params:
            header_params['Accept'] = params['accept']  # noqa: E501

        form_params = []
        local_var_files = {}
        if 'char_set' in params:
            form_params.append(('char_set', params['char_set']))  # noqa: E501
        if 'continue_on_error' in params:
            form_params.append(('continue_on_error', params['continue_on_error']))  # noqa: E501
        if 'skip_trailer_validation' in params:
            form_params.append(('skip_trailer_validation', params['skip_trailer_validation']))  # noqa: E501
        if 'syntax_set' in params:
            form_params.append(('syntax_set', params['syntax_set']))  # noqa: E501
        if 'transaction_duplicate' in params:
            form_params.append(('transaction_duplicate', params['transaction_duplicate']))  # noqa: E501
        if 'group_duplicate' in params:
            form_params.append(('group_duplicate', params['group_duplicate']))  # noqa: E501
        if 'technical_ack' in params:
            form_params.append(('technical_ack', params['technical_ack']))  # noqa: E501
        if 'generate_for_valid_transactions' in params:
            form_params.append(('generate_for_valid_transactions', params['generate_for_valid_transactions']))  # noqa: E501
        if 'allow_partial' in params:
            form_params.append(('allow_partial', params['allow_partial']))  # noqa: E501
        if 'transaction_control_number' in params:
            form_params.append(('transaction_control_number', params['transaction_control_number']))  # noqa: E501
        if 'ak901' in params:
            form_params.append(('ak901', params['ak901']))  # noqa: E501
        if 'ack_version' in params:
            form_params.append(('ack_version', params['ack_version']))  # noqa: E501
        if 'include_transactions' in params:
            form_params.append(('include_transactions', params['include_transactions']))  # noqa: E501
        if 'edi_file' in params:
            local_var_files['edi_file'] = params['edi_file']  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/xml'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/acknowledge/x12', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[EdiFabricWebApiModelsX12Acknowledgment]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
